﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="MasterKey.aspx.cs" Inherits="MasterKey" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        Check Password of User By UserID:<asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
        <asp:Button ID="btnSerach" runat="server" Text="Search" 
            onclick="btnSerach_Click" />
        <asp:Label ID="lblSearch" runat="server"></asp:Label><br />
        Password Decrypt:<asp:TextBox ID="txtPassword" runat="server"></asp:TextBox>
        <asp:Button ID="btnConvert" runat="server" Text="Encrypt" 
            onclick="btnConvert_Click" /><asp:Label ID="lblEncy" runat="server" ></asp:Label><br />
        Password Encrypt:<asp:TextBox ID="txtPassword2" runat="server"></asp:TextBox>
        <asp:Button ID="Button1" runat="server" Text="Decrypt" 
            onclick="Button1_Click" /><asp:Label ID="lblDecry" runat="server" ></asp:Label><br />
        Currenct From:<asp:TextBox ID="txtFromcurrency" runat="server"></asp:TextBox>To Currency<asp:TextBox ID="txttoCurrency" runat="server" ></asp:TextBox>Amount:<asp:TextBox ID="txtAmount" runat="server" value="1"></asp:TextBox>
        <asp:Button ID="btnCheckCurrency" runat="server" Text="Check Currency Value" 
            onclick="btnCheckCurrency_Click" /><asp:Label ID="lblcurrencyResult" runat="server" ></asp:Label><br />

            <asp:Label runat="server" ID="lbltextChange" ><%= GetKeyResult("HOME") %></asp:Label>
        <asp:DropDownList ID="drpLanguage" runat="server" AutoPostBack="True" 
            onselectedindexchanged="drpLanguage_SelectedIndexChanged" ></asp:DropDownList>
    </div>
    </form>
    
    
</body>
</html>
