﻿<%@ Page Title="" Language="C#" MasterPageFile="~/HomeMaster.master" AutoEventWireup="true"
    CodeFile="RequestAdvantage.aspx.cs" Inherits="RequestAdvantage" %>

<%@ Register Src="UserControl/Frontend/HotelOfTheWeek.ascx" TagName="HotelOfTheWeek"
    TagPrefix="uc1" %>
<%@ Register Src="UserControl/Frontend/Benefits.ascx" TagName="Benefits" TagPrefix="uc2" %>
<%@ Register Src="UserControl/Frontend/RecentlyJoinedHotel.ascx" TagName="RecentlyJoinedHotel"
    TagPrefix="uc3" %>
<%@ Register Src="UserControl/Frontend/NewsSubscriber.ascx" TagName="NewsSubscriber"
    TagPrefix="uc4" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cntLeft" runat="Server">
    <uc1:HotelOfTheWeek ID="HotelOfTheWeek2" runat="server" />
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cntMainbody" runat="Server">
    <div class="mainbody-left">
        <div class="banner">
            <iframe height="100%" src="<%= SiteRootPath %>SlideShow.aspx" width="100%"></iframe>
        </div>
        <div class="abutus-text">
            <asp:Label ID="lblRequestAdvantage" runat="server" Text="Label"></asp:Label>
            <%--        <p>We offer you, the client, to search, analyse, compare and either </p>
<p>IMPORTANT TO KNOW: <span>MAKE A REQUEST</span></p>
<ul>
<li>You can search on a <span>60 day frame</span> nto the future</li>
<li>Discover all the <span>information</span> on one page matching your search criteria</li>
<li>Know what the market has to <span>offer and avoid heavy priced periods</span></li>
<li>You can send a request to maximum <span>3 venues</span> at the same time</li>
<li>Direct follow up by requested venues <span>within 48h</span> (72h during weekends)</li>
<li>You can scout different cities and make the same request.</li>
<li>It is <span>quick, easy and secure</span>.</li>
<li>If you have a problem while making a request, our Customer support desk is available every weekday from 08.00 to 23.00 in English, French and Dutch language.</li>
<li>It is free of charge</li>
</ul>
<p class="small">* (Except when booking time frame is between 7-0 days before arrival)</p>
<p class="small">** (within agreed cancellation policy of venue)</p>--%>
        </div>
    </div>
    <div class="mainbody-right">
        <div id="beforeLogin" runat="server">
            <div class="mainbody-right-call">
                <div class="need">
                    <span>
                        <%= GetKeyResult("NEEDHELP")%></span>
                    <br />
                    <%= GetKeyResult("CALLUS")%>
                    5/7
                </div>
                <div class="phone">
                    +32 2 344 25 50
                </div>
                <p style="font-size: 10px; color: White; text-align: center">
                    <%= GetKeyResult("CALLUSANDWEDOITFORYOU")%></p>
                <div class="mail">
                    <a href="mailto:clientsupport@lastminutemeetingroom.com" onclick="javascript: _gaq.push(['_trackPageview', '/email']);">
                        <%= GetKeyResult("CONTACTUSVIAMAIL")%></a>
                </div>
            </div>
            <div class="mainbody-right-join" id="divjoinus" runat="server">
                <div class="join">
                    <a runat="server" id="joinToday">
                        <%= GetKeyResult("JOINUSTODAY")%></a></div>
                <%= GetKeyResult("FORHOTELSMEETINGFACILITIESEVENT")%>
            </div>
            <div class="mainbody-right-you">
                <a href="http://www.youtube.com/watch?v=rkt3NIWecG8&feature=youtu.be" target="_blank">
                    <img src="<%= SiteRootPath %>images/youtube-icon.png" /></a>&nbsp;&nbsp;<a href="http://www.youtube.com/watch?v=U3y7d7yxmvE&feature=relmfu"
                        target="_blank"><img src="<%= SiteRootPath %>images/small-vedio.png" /></a>
            </div>
        </div>
        <div style="width: 216px; height: auto; overflow: hidden; margin: 0px auto; display: none"
            id="afterLogin" runat="server">
            <div class="mainbody-right-call">
                <div class="need">
                    <span>
                        <%= GetKeyResult("NEEDHELP")%></span>
                    <br />
                    <%= GetKeyResult("CALLUS")%>
                    5/7
                </div>
                <div class="phone">
                    +32 2 344 25 50
                </div>
                <p style="font-size: 10px; color: White; text-align: center">
                    CALL US and WE DO IT FOR YOU</p>
                <div class="mail">
                    <a href="mailto:clientsupport@lastminutemeetingroom.com" onclick="javascript: _gaq.push(['_trackPageview', '/email']);">
                        <%= GetKeyResult("CONTACTUSVIAMAIL")%></a>
                </div>
            </div>
            <!--start mainbody-right-afterlogin-body -->
            <div class="mainbody-right-afterlogin-body">
                <div class="mainbody-right-afterlogin-top">
                    <div class="mainbody-right-afterlogin-inner">
                        <b>Today :</b>
                        <asp:Label ID="lstLoginTime" runat="server"></asp:Label>
                        <div class="afterlogin-welcome">
                            <span>Welcome</span>
                            <br>
                            <asp:Label ID="lblLoginUserName" runat="server"></asp:Label>
                        </div>
                    </div>
                </div>
                <div class="mainbody-right-afterlogin-bottom">
                    <div class="mainbody-right-afterlogin-bottom-inner">
                        <asp:LinkButton ID="hypManageProfile" runat="server" OnClick="hypManageProfile_Click">Manage profile</asp:LinkButton>
                        <br />
                        <asp:LinkButton ID="hypChangepassword" runat="server" OnClick="hypChangepassword_Click">Change password</asp:LinkButton><br />
                        <asp:LinkButton ID="hypListBookings" runat="server" OnClick="hypListBookings_Click"
                            Visible="true">My bookings</asp:LinkButton><br />
                        <asp:LinkButton ID="hypListRequests" runat="server" OnClick="hypListRequests_Click"
                            Visible="true">My requests</asp:LinkButton>
                    </div>
                </div>
            </div>
            <!--end mainbody-right-afterlogin-body -->
        </div>
        <div class="mainbody-right-news">
            <uc4:NewsSubscriber ID="NewsSubscriber1" runat="server" />
        </div>
        <uc3:RecentlyJoinedHotel ID="RecentlyJoinedHotel1" runat="server" />
    </div>
    <div class="mainbody">
        <div class="mainbody-left">
        </div>
    </div>
</asp:Content>
