﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Video.aspx.cs" Inherits="Video" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Video</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <%-- <object id="MediaPlayer1" width="440" height="280" classid="CLSID:22D6F312-B0F6-11D0-94AB-0080C74C7E95"
            codebase="http://activex.microsoft.com/activex/controls/mplayer/en/nsmp2inf.cab#Version=5,1,52,701"
            standby="Loading Microsoft® Windows® Media Player components..." type="application/x-oleobject">
            <param name="FileName" value='<%= VideoPath %>' />
            <param name="AutoStart" value="True" />
            <param name="DefaultFrame" value="mainFrame" />
            <param name="ShowStatusBar" value="True" />
            <param name="ShowPositionControls" value="True" />
            <param name="showcontrols" value="True" />
            <param name="ShowAudioControls" value="True" />
            <param name="ShowTracker" value="True" />
            <param name="EnablePositionControls" value="True" />
            <!-- BEGIN PLUG-IN HTML FOR FIREFOX-->
            <embed type="application/x-mplayer2" pluginspage="http://www.microsoft.com/Windows/MediaPlayer/"
                src='<%= VideoPath %>' align="middle" width="440" height="280" defaultframe="rightFrame"
                id="MediaPlayer2" />--%>
        <%--<object width="425" height="344">
             <param name="movie" value="<%=VideoPath %>">
             </param>
            <param name="allowFullScreen" value="true"></param>
            <param name="allowscriptaccess" value="always"></param>
            <embed src="<%=VideoPath %>" type="application/x-shockwave-flash"
                allowscriptaccess="always" allowfullscreen="true" width="425" height="344"></embed></object>--%>
        <asp:Literal ID="litPlayVideo" runat="server" Visible="true"></asp:Literal>
    </div>
    <%--<div>
    <div id="noVedioDIV" runat="server" visible="false">Sorry Video not available !</div>
        <div id="mediaplayer" runat="server">
            </div>
        <script type="text/javascript" src="js/jwplayer.js"></script>
        <script type="text/javascript">
            jwplayer("mediaplayer").setup({
                flashplayer: "player.swf",
                file: '<%=VideoPath %>',
                image: "preview.jpg",
                hight: "280",
                width: "480"
            });
	</script>
    </div>--%>
    </form>
</body>
</html>
