﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Operator/Operator.master" AutoEventWireup="true"
    EnableEventValidation="false" CodeFile="SearchDetails.aspx.cs" Inherits="Operator_CancelTransfer" %>

<%@ Register Src="../UserControl/Operator/SearchPanel.ascx" TagName="SearchPanel"
    TagPrefix="uc1" %>
<%@ Register Src="../UserControl/HotelUser/BookingDetails.ascx" TagName="BookingDetails"
    TagPrefix="uc2" %>
<%@ Register Src="../UserControl/HotelUser/RequestDetails.ascx" TagName="RequestDetails"
    TagPrefix="uc4" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="asp" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <div class="operator-mainbody">
        <uc1:SearchPanel ID="SearchPanel1" runat="server" />
        <!--contract-list start -->
        <div class="contract-list">
         <div class="contract-list-left" style="width: 278px;">
                    <h2>
                        List of Results </h2>
                </div>
            <div class="contract-list-right" style="width:676px">
                <ul runat="server" id="AlphaList">
                    <li id="Li1" runat="server"><a href="#" class="select" runat="server" id="all" onserverclick="PageChange">
                        all</a></li>
                    <li id="Li2" runat="server"><a href="#" runat="server" id="a" onserverclick="PageChange">
                        a</a></li>
                    <li id="Li3" runat="server"><a href="#" runat="server" id="b" onserverclick="PageChange">
                        b</a></li>
                    <li id="Li4" runat="server"><a href="#" runat="server" id="c" onserverclick="PageChange">
                        c</a></li>
                    <li id="Li5" runat="server"><a href="#" runat="server" id="d" onserverclick="PageChange">
                        d</a></li>
                    <li id="Li6" runat="server"><a href="#" runat="server" id="e" onserverclick="PageChange">
                        e</a></li>
                    <li id="Li7" runat="server"><a href="#" runat="server" id="f" onserverclick="PageChange">
                        f</a></li>
                    <li id="Li8" runat="server"><a href="#" runat="server" id="g" onserverclick="PageChange">
                        g</a></li>
                    <li id="Li9" runat="server"><a href="#" runat="server" id="h" onserverclick="PageChange">
                        h</a></li>
                    <li id="Li10" runat="server"><a href="#" runat="server" id="i" onserverclick="PageChange">
                        i</a></li>
                    <li id="Li11" runat="server"><a href="#" runat="server" id="j" onserverclick="PageChange">
                        j</a></li>
                    <li id="Li12" runat="server"><a href="#" runat="server" id="k" onserverclick="PageChange">
                        k</a></li>
                    <li id="Li13" runat="server"><a href="#" runat="server" id="l" onserverclick="PageChange">
                        l</a></li>
                    <li id="Li14" runat="server"><a href="#" runat="server" id="m" onserverclick="PageChange">
                        m</a></li>
                    <li id="Li15" runat="server"><a href="#" runat="server" id="n" onserverclick="PageChange">
                        n</a></li>
                    <li id="Li16" runat="server"><a href="#" runat="server" id="o" onserverclick="PageChange">
                        o</a></li>
                    <li id="Li17" runat="server"><a href="#" runat="server" id="p" onserverclick="PageChange">
                        p</a></li>
                    <li id="Li18" runat="server"><a href="#" runat="server" id="q" onserverclick="PageChange">
                        q</a></li>
                    <li id="Li19" runat="server"><a href="#" runat="server" id="r" onserverclick="PageChange">
                        r</a></li>
                    <li id="Li20" runat="server"><a href="#" runat="server" id="s" onserverclick="PageChange">
                        s</a></li>
                    <li id="Li21" runat="server"><a href="#" runat="server" id="t" onserverclick="PageChange">
                        t</a></li>
                    <li id="Li22" runat="server"><a href="#" runat="server" id="u" onserverclick="PageChange">
                        u</a></li>
                    <li id="Li23" runat="server"><a href="#" runat="server" id="v" onserverclick="PageChange">
                        v</a></li>
                    <li id="Li24" runat="server"><a href="#" runat="server" id="w" onserverclick="PageChange">
                        w</a></li>
                    <li id="Li25" runat="server"><a href="#" runat="server" id="x" onserverclick="PageChange">
                        x</a></li>
                    <li id="Li26" runat="server"><a href="#" runat="server" id="y" onserverclick="PageChange">
                        y</a></li>
                    <li id="Li27" runat="server"><a href="#" runat="server" id="z" onserverclick="PageChange">
                        z</a></li>
                </ul>
            </div>
        </div>
        <!-- end contract-list-->
        <div class="pageing-operator-new">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>                    
                    <td align="right">
                        Total Result :
                        <asp:Label ID="lblTotalBooking" runat="server" Text=""></asp:Label>
                    </td>
                </tr>
            </table>
        </div>
        <div class="pageing-operator">
            <div style="float: right;" id="pageing">
            </div>
        </div>

           
        <div class="search-booking-rowmain clearfix" style="width: 960px">
            <table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#98BCD6">
                <tr bgcolor="#CCD8D8">
                    <td valign="top" width="10%">
                        <asp:Label ID="lblType" runat="server" Text="Booking#"></asp:Label>
                    </td>
                    <td valign="top" width="10%">
                        City Name
                    </td>
                    <td valign="top" width="10%">
                       Facility / Hotel Name
                    </td>
                    <td valign="top" width="10%">
                        Meeting Room
                    </td>
                    <td valign="top" width="10%">
                        Channel
                    </td>
                    <td valign="top" width="10%">
                        Client name
                    </td>
                    <td valign="top" width="10%">
                        <asp:Label ID="lblDate" runat="server" Text="Booking date"></asp:Label>
                    </td>
                    <td valign="top" width="10%">
                        Arrival
                    </td>
                    <td valign="top" width="10%">
                        Departure
                    </td>
                   <%-- <td valign="top" width="5%">
                        Status
                    </td>--%>
                    <td valign="top" width="10%">
                     Commission
                    </td>
                </tr>
                <asp:GridView ID="grvBookingDetails" runat="server" Width="100%" border="0" CellPadding="5"
                    CellSpacing="1" AutoGenerateColumns="false" DataKeyNames="Id" GridLines="None"
                    ShowHeader="false" ShowFooter="false" BackColor="#98BCD6" RowStyle-BackColor="#FFFFFF"  AlternatingRowStyle-BackColor="#E3F0F1"
                    OnPageIndexChanging="grvBookingDetails_PageIndexChanging" PageSize="10" AllowPaging="true"
                    EmptyDataRowStyle-BackColor="White" EmptyDataRowStyle-HorizontalAlign="Center"
                    HeaderStyle-BackColor="#98BCD6" OnRowDataBound="grvBookingDetails_RowDataBound"
                    OnRowCommand="grvBookingDetails_RowCommand">
                    <Columns>
                        <asp:TemplateField ItemStyle-Width="10%" >
                            <ItemTemplate>
                                <asp:LinkButton ID="lnkRefno" runat="server" CommandName="ViewBookingDetail" Text='<%# Eval("Id") %>'
                                    CommandArgument='<%#Eval("Id") %>'></asp:LinkButton>
                            </ItemTemplate>
                            <ItemStyle HorizontalAlign="Center" />
                        </asp:TemplateField>
                        <asp:TemplateField ItemStyle-Width="10%">
                            <ItemTemplate>
                                <asp:Label runat="server" ID="lblCity" Text="City"></asp:Label>
                                <asp:HiddenField ID="hdnCityId" runat="server" Value='<%# Eval("CityId") %>' />
                            </ItemTemplate>
                        </asp:TemplateField>
                        <asp:TemplateField ItemStyle-Width="10%">
                            <ItemTemplate>
                                <asp:Label ID="lblHotelName" runat="server" Text='<%# Eval("HotelName") %>'></asp:Label>
                            </ItemTemplate>
                        </asp:TemplateField>
                        <asp:TemplateField ItemStyle-Width="10%">
                            <ItemTemplate>
                                <asp:Label ID="lblMeetingRoomName" runat="server" Text='<%# Eval("Name") %>'></asp:Label>
                            </ItemTemplate>
                        </asp:TemplateField>
                        <asp:TemplateField ItemStyle-Width="10%">
                            <ItemTemplate>
                                <asp:Label ID="lblCompany" runat="server" Text='<%# Eval("Usertype") %>'></asp:Label>
                            </ItemTemplate>
                        </asp:TemplateField>
                        <asp:TemplateField ItemStyle-Width="10%">
                            <ItemTemplate>
                                <asp:Label ID="lblConctName" runat="server" Text='<%# Eval("Contact ") %>'></asp:Label>
                            </ItemTemplate>
                        </asp:TemplateField>
                        <asp:TemplateField ItemStyle-Width="10%">
                            <ItemTemplate>
                                <asp:Label ID="lblBookingDt" runat="server" Text='<%# String.Format("{0:dd/MM/yyyy}",Eval("BookingDate"))%>'></asp:Label>
                            </ItemTemplate>
                        </asp:TemplateField>
                        <asp:TemplateField ItemStyle-Width="10%">
                            <ItemTemplate>
                                <asp:Label ID="lblArrivalDt" runat="server" Text='<%# String.Format("{0:dd/MM/yyyy}",Eval("ArrivalDate"))%>'></asp:Label>
                            </ItemTemplate>
                        </asp:TemplateField>
                        <asp:TemplateField ItemStyle-Width="10%">
                            <ItemTemplate>
                                <asp:Label ID="lblDepartureDt" runat="server" Text='<%#  String.Format("{0:dd/MM/yyyy}", Eval("DepartureDate"))%>'></asp:Label>
                            </ItemTemplate>
                        </asp:TemplateField>
                       <%-- <asp:TemplateField ItemStyle-Width="5%">
                            <ItemTemplate>
                                <asp:Label ID="lblstatus" runat="server" ToolTip='<%# Eval("requeststatus") %>'></asp:Label><br />
                            </ItemTemplate>
                        </asp:TemplateField>--%>
                        <asp:TemplateField ItemStyle-Width="10%">
                            <ItemTemplate>
                            <asp:HyperLink ID="linkviewPlan" runat="server" Target="_blank">
                                                            <asp:Image ID="imgPlan" runat="server" src="../images/pdf-icon.png" AlternateText='<%# Eval("SupportingDocNetto") %>' />
                                                        </asp:HyperLink>
                                                        <asp:HiddenField ID="hdfImage" runat="server" Value='<%# Eval("SupportingDocNetto") %>' />
                         
                                <asp:Label ID="lblComm" runat="server" Visible="false" Text='<%# Eval("IsComissionDone") %>'></asp:Label>
                                <asp:Image ID="imgCheck" runat="server" ImageUrl="~/Images/select-check-bx.png" Visible="false" />
                                 <asp:Label ID="lblstatus" runat="server" ToolTip='<%# Eval("requeststatus") %>' Visible="false"></asp:Label>
                               
                               </ItemTemplate>
                             <ItemStyle HorizontalAlign="Center" />
                        </asp:TemplateField>
                    </Columns>
                    <EmptyDataTemplate>
                        <table>
                            <tr>
                                <td colspan="3" align="center">
                                    <b>No record found !</b>
                                </td>
                            </tr>
                        </table>
                    </EmptyDataTemplate>
                    <PagerSettings Mode="NumericFirstLast" Position="TopAndBottom" />
                    <PagerStyle HorizontalAlign="Right" BackColor="White" CssClass="displayNone" />
                    <PagerTemplate>
                        <div id="Paging" style="width: 100%; display: none;">
                            <asp:PlaceHolder ID="ph" runat="server"></asp:PlaceHolder>
                        </div>
                    </PagerTemplate>
                </asp:GridView>
            </table>
        </div>
        <div id="divbookingdetails" align="left" runat="server" visible="false" style="margin-left: 109px;">
            <h1 class="new" style="font: left; width: 760px">
                Booking details</h1>
            <div class="booking-details" id="divprint" runat="server">
                <ul>
                    <li class="value3">
                        <div class="col9">
                            <img src="../Images/print.png" />&nbsp; <a id="ADetails" style="cursor: pointer;"
                                onclick="javascript:Button1_onclick('<%= Divdetails.ClientID%>');">Print</a>
                            &bull;
                            <img src="../Images/pdf.png" />&nbsp;
                            <asp:LinkButton ID="lnkSavePDF" runat="server" OnClick="lnkSavePDF_Click">Save as PDF</asp:LinkButton>
                        </div>
                    </li>
                </ul>
            </div>
            <div id="Divdetails" runat="server" class="meinnewbody">
                <uc2:BookingDetails ID="ucViewBookingDetail" runat="server" />
            </div>
        </div>
        <div id="DivrequestDetail" align="left" runat="server" visible="false" style="margin-left: 109px;">
            <h1 class="new" style="font: left; width: 760px">
                Request details</h1>
            <div class="booking-details" id="div3" runat="server">
                <ul>
                    <li class="value3">
                        <div class="col9">
                            <img src="../Images/print.png" />&nbsp; <a id="A1" style="cursor: pointer;" onclick="javascript:Button2_onclick('<%= DivdetailsRequest.ClientID%>');">
                                Print</a> &bull;
                            <img src="../Images/pdf.png" />&nbsp;
                            <asp:LinkButton ID="lnkSaveRequestPdf" runat="server" OnClick="lnkSaveRequestPdf_Click">Save as PDF</asp:LinkButton>
                        </div>
                    </li>
                </ul>
            </div>
            <div id="DivdetailsRequest" runat="server" class="meinnewbody">
                <uc4:RequestDetails ID="requestDetails" runat="server" />
            </div>
        </div>
        <div>
            <asp:LinkButton ID="lnkcheck" runat="server"></asp:LinkButton>
            <asp:ModalPopupExtender ID="ModalPopupCheck" TargetControlID="lnkcheck" BackgroundCssClass="modalBackground"
                PopupControlID="pnlcheck" runat="server">
            </asp:ModalPopupExtender>
            <asp:Panel ID="pnlcheck" BorderColor="Black" Width="800px" BorderWidth="1" Style="display: none;"
                runat="server" BackColor="White">
                <div class="popup-mid-inner-body" align="center">
                </div>
                <div class="popup-mid-inner-body1">
                    <table width="100%" cellspacing="0" cellpadding="3" align="center">
                        <tr>
                            <td colspan="2">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Status
                            </td>
                            <td>
                                <asp:DropDownList ID="ddlstatus" Width="200px" runat="server">
                                    <asp:ListItem Value="7">Definite</asp:ListItem>
                                    <asp:ListItem Value="2">Cancel</asp:ListItem>
                                </asp:DropDownList>
                                <asp:DropDownList ID="drpStatus" Width="200px" runat="server">
                                    <asp:ListItem Value="2">Cancel</asp:ListItem>
                                </asp:DropDownList>
                            </td>
                        </tr>
                    </table>
                </div>
                <div>
                    <div class="popup-mid-inner-body2_i">
                    </div>
                    <div class="booking-details" style="width: 800px;" id="div5">
                        <ul>
                            <li class="value10">
                                <div class="col21" style="width: 795px;">
                                    <div class="button_section">
                                        <asp:LinkButton ID="lnkchecksubmit" runat="server" Text="Save" CssClass="select"
                                            OnClick="btnSubmit_Click" />
                                        <span>or</span>
                                        <asp:LinkButton ID="lnkcheckcancel" runat="server" Text="Cancel" OnClick="btnCancel_Click" />
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </asp:Panel>
        </div>
    </div>
    <script language="javascript" type="text/javascript">
        jQuery(document).ready(function () {
            if (jQuery("#Paging") != undefined) {
                var inner = jQuery("#Paging").html();
                jQuery("#pageing").html(inner);
                jQuery("#Paging").html("");
            }

        });
       
        jQuery(document).ready(function () {
                            <% if (ViewState["SearchAlpha"] != null) {%>
                                jQuery('#<%= AlphaList.ClientID %> li a').removeClass('select');
                                jQuery('#ContentPlaceHolder1_<%= ViewState["SearchAlpha"]%>').addClass('select');
                            <% }%>
                        });
                       
    
          function Button1_onclick(strid) {

            var prtContent = document.getElementById(strid);
            var WinPrint = window.open('', '', 'letf=0,top=0,width=800,height=800,toolbar=0,scrollbars=0,status=0');
            WinPrint.document.write(prtContent.innerHTML);
            WinPrint.document.close();
            WinPrint.focus();
            WinPrint.print();
            WinPrint.close();


        }

        function Button2_onclick(strid) {

            var prtContent = document.getElementById(strid);
            var WinPrint = window.open('', '', 'letf=0,top=0,width=800,height=800,toolbar=0,scrollbars=0,status=0');
            WinPrint.document.write(prtContent.innerHTML);
            WinPrint.document.close();
            WinPrint.focus();
            WinPrint.print();
            WinPrint.close();


        }
          function SetFocusBottom(val) {

            var ofset = jQuery("#" + val).offset();
            jQuery('body').scrollTop(ofset.top);
            jQuery('html').scrollTop(ofset.top);
        }
    </script>
</asp:Content>
