﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="Main.master.cs" Inherits="Sales_Main" %>

<%@ Register Src="../UserControl/Sales/TopMenu.ascx" TagName="TopMenu" TagPrefix="uc1" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>Sales Master</title>
    <link href="../css/style.css" rel="stylesheet" type="text/css" />
    <link href="../css/jqtransform.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/jquery.jqtransform_drp.js"></script>
    <script src="../js/NoConflict.js" type="text/javascript"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script language="javascript" type="text/javascript">
        jQuery(function () {
            jQuery('#radioKM input:radio').addClass('NoClassApply');
            jQuery('#radioKM input:radio').width(20);
            jQuery('.main_conta iner1').jqTransform({ imgPath: ' ' });
        });

    </script>
    <style type="text/css">
        .NoClassApply
        {
            width: 204px;
            padding: 2px;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
    <asp:ScriptManager ID="ScriptManager1" runat="server">
    </asp:ScriptManager>
    <div class="main_container1">
        <!-- start left section-->
        <div class="left_container1">
            <div class="main_logo_new">
                <img src="../images/logo.png" alt="Last Minute"></div>
        </div>
        <!-- end left section-->
        <!-- start right section-->
        <div class="right_container1">
            <uc1:TopMenu ID="TopMenu2" runat="server" />
            <!--logout-today start -->
            <div class="logout-today" style="width: 770px;">
                <div class="today">
                    <span>Today:</span><asp:Label ID="lstLoginTime" runat="server"></asp:Label></div>
                <div class="logout">
                    You are logged in as: <span>
                        <asp:Label ID="lblLoginUserName" runat="server"></asp:Label></span><asp:LinkButton
                            ID="lnklogout" runat="server" OnClick="lnklogout_Click">Log Out</asp:LinkButton></div>
            </div>
            <!-- end logout-today-->
        </div>
        <!-- end right section-->
        <!--main_body start -->
        <div class="main_body">
            <!--main-body start -->
            <div class="operator-mainbody" style="margin-top: 20px;">
                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                </asp:ContentPlaceHolder>
            </div>
        </div>
        <!-- end main_body-->
    </div>
    <div id="Loding_overlay">
        <img src="../Images/ajax-loader.gif" style="margin: 350px 0px 0px 0px; z-index: 1999" /><br />
        <span>Loading...</span></div>
    </form>
    <script type="text/javascript">        
//<![CDATA[
        // It has been added to override the default function being added by ASP.NET. This function will show a overlay on each postback
        function __doPostBack(eventTarget, eventArgument) {
            jQuery("#Loding_overlay").height(jQuery("document").height());

            if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
                theForm.__EVENTTARGET.value = eventTarget;
                theForm.__EVENTARGUMENT.value = eventArgument;
                if (eventTarget != "ctl00$ContentPlaceHolder1$btnSetLanguage" && eventTarget != "ctl00$ContentPlaceHolder1$lnkDownloadXLS" && eventTarget != "ctl00$ContentPlaceHolder1$lnkDownloadPDF" && eventTarget != 'ctl00$ctl00$cntLeftBottom$cntLeft$uiLinkButtonSaveAsPdfGrid') {
                    jQuery('html').scrollTop(0);
                    jQuery('body').scrollTop(0);
                    document.getElementsByTagName('html')[0].style.overflow = 'hidden';
                    jQuery("#Loding_overlay").show();
                    // jQuery("#Loding_overlay").height(jQuery("document").height());
                    //jQuery("#Loding_overlay").css('background-color','red');
                    //jQuery("#Loding_overlay").height(jQuery("html").height());
                }
                theForm.submit();
            }
        };
        //It has beeen added to catch all any postback wchich is not available to __doPostBack
        jQuery("#form1").submit(function () {
            jQuery("#Loding_overlay").height(jQuery("document").height());

            jQuery('html').scrollTop(0);
            jQuery('body').scrollTop(0);
            document.getElementsByTagName('html')[0].style.overflow = 'hidden';
            //jQuery("#Loding_overlay").height(jQuery("document").height());
            jQuery("#Loding_overlay").show();
            //jQuery("#Loding_overlay").css('background-color', 'red');
            //jQuery("#Loding_overlay").height(jQuery("body").height());
            //jQuery("#Loding_overlay").height(jQuery("html").height());
        });
        //]]>
    </script>
</body>
</html>
