﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="SMTPMailCheck.aspx.cs" Inherits="Test_SMTPMailCheck" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        .style2
        {
            color: #FF0000;
        }
    </style>
</head>

<body>
    <form id="form1" runat="server">
    <div>
    
        <table width="100%">
            <tr>
                <td>
                    Hotel : <img src="../Images/1.png" /></td>
                <td>
                    </td>
            </tr>
            <tr>
                <td>
                    Address :</td>
                <td align="left">
                    <span style="color:Red">dsjgkdj</span></td>
            </tr>
            <tr>
                <td>
                    Latitude/Logitude</td>
                <td>
                    &nbsp;</td>
            </tr>
           
        </table>
    
    </div>
    </form>
</body>
</html>
