﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="LanaguageTabWithoutCountry.ascx.cs" Inherits="UserControl_SuperAdmin_LanaguageTabWithoutCountry" %>
<asp:Literal ID="litLangugeTab" runat="server"></asp:Literal>