﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Agency/AgencyMaster.master" AutoEventWireup="true" CodeFile="Commisions.aspx.cs" Inherits="Agency_Commisions" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ctnTop" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ctnMain" Runat="Server">
</asp:Content>

