﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Agency/Main.master" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="Agency_Default" %>
<%@ Register src="../UserControl/Agency/LeftSearchPanel.ascx" tagname="LeftSearchPanel" tagprefix="uc2" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
    
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cntMainBody" Runat="Server">
<%if (u.usercontroltype == "Map")
  { %>
<div id="map_canvas" style="width:100%;height:200px;" ></div>
<div id="mapMessgage"></div>
<%} %>
</asp:Content>

