




/* -------------
 * Checkboxes
 * ------------- */
span.jqTransformCheckboxWrapper{
	display:block;float:left;
	margin-top:1px;
}
a.jqTransformCheckbox {
	background: transparent url(../images/checkbox.png) no-repeat center top;
	vertical-align: middle;
	height: 19px;
	width: 18px;
	display:block;/*display: -moz-inline-block;*/
}

/* -------------
 * Checked - Used for both Radio and Checkbox
 * ------------- */
a.jqTransformChecked { background-position: center bottom;}


/* -------------
 * Selects
 * ------------- */
.jqTransformSelectWrapper {
	min-width: 45px;
	position:relative;
	height: 28px;
	background: url(../images/select_left.png) no-repeat top left;
	float:left;
	
}


.jqTransformSelectWrapper div span {
	
	font-size: 13px;
	float: none;
	position: absolute;
	white-space: nowrap;
	height: 31px;
	line-height: 18px;
	padding: 5px 0 0 5px;
	overflow: hidden;
	cursor:pointer;
	/*border: 1px solid #CCCCCC;*/
/*	border-right: none;*/
}

.jqTransformSelectWrapper  a.jqTransformSelectOpen {
	display: block;
	position: absolute;
	right: 0px;
	width: 33px;
	height: 28px;
	background: url(../images/select_right.png) no-repeat center center;
	margin-right:-3px;
}

.jqTransformSelectWrapper ul {

	position: absolute;
	min-width: 43px;
	top: 28px;
	left: 2px;
	list-style: none;
	background-color: #FFF;
	border: solid 1px #CCC;
	display: none;
	margin: 0px;
	padding: 0px;
	max-height:200px;
	overflow:auto;
	z-index:10;
}

.jqTransformSelectWrapper ul a {
	display: block;
	padding: 5px;
	text-decoration: none;
	color:#333;
	background-color: #eeeeee;
	
}

.jqTransformSelectWrapper ul a.selected {
	background: #EDEDED;
	color: #333;
}

.jqTransformSelectWrapper ul a:hover, .jqTransformSelectWrapper ul a.selected:hover {
	background:#3582c4;
	color: #fff;
}

/* -------------
 * Hidden - used to hide the original form elements
 * ------------- */
.jqTransformHidden {display: none;}

form.jqtransformdone label {
    display: block;
    float: left;
    margin-right: 8px;
    margin-top: 4px;
	margin-left:10px;
}
.lefttext{ float:left; margin:0px;}