﻿
        .searchboxstyle
        {
            /* background: #1386d6; 
            border: #999 solid 1px;*/ /*background: pink;
            border: #000 solid 1px;*/
        }
        .searchboxstyle #mainbody
        {
            min-width: 260px;
            background: pink;
            border: #000 solid 1px;
        }
        .searchboxstyle label
        {
            /*color: #fff;*/
            color: #000;
        }
        .searchboxstyle .button
        {
            background: #9fce3f;
            font-weight: bold;
            color: #fff;
            border: none;
            cursor: pointer;
            padding: 3px 10px;
        }