
form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; background:none; color:#666666 }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */



.textbox
{
    width: 413px; float: left; padding: 3px 0px ;
    
    }
    .textboxradio
{
   padding: 0; width: 13px; height: 13px; margin-right: 2px;width: 200px;
    
    }


.footer, .push{
  height: 75px;
}


/* general styles */
.wrapper{
  width: 100%;
  background: transparent url(../img/top-bg.png) left top repeat-x;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -75px;
}

.innerwrapper{
  width: 960px;
  margin: 0 auto 0 auto;
}

html{background:url(../images/bg.png);}
body{   margin:0px; padding:0px; font:normal 12px Arial, Helvetica, sans-serif; background:url(../images/wapper_bg.gif) left top repeat-x;}
.main_container1{width:980px; margin:0px auto; overflow:hidden; padding-bottom:20px; }
.left_container1{width:198px; float:left; height:105px}
.left_container1 .main_logo_new{width:100%; background:url(../images/new-logo-bg.png) center top no-repeat; height:117px;}
.main_body{width:960px; color:#444444; margin:0px auto; overflow:hidden;}

.right_container1{width:780px; float:left; min-height:105px;}
.new_right{float:left; width:100%; overflow:hidden; margin-top:19px;}
.right_container1 .main_nav{width:100%; height:52px; float:left;}



.right_container1 .main_nav1{width:100%;  height:52px; float:left;}
#subnav1bar1 {height: 16px;margin: 0px;padding: 0px;float:left;}
#subnav1, #subnav1 ul {margin:0;padding: 0 0 0 0px;list-style: none;z-index: 1;float:left;}
#subnav1 a, #subnav1 a:visited {background:transparent;	color: #dddddd;	display: block;	font:normal 13px Arial, Georgia, "Times New Roman", Times, serif;margin: 0px 0px 0px 0px;padding: 14px 11px 21px 10px;	text-decoration:none;}
#subnav1 a:hover {	background:url(../images/tov_nav_hover.gif) top left;	color: #dddddd;	display: block;	text-decoration: none;	margin: 0px 0px 0px 0px;	padding: 14px 11px 22px 10px;}
#subnav1 a.select{	background:url(../images/tov_nav_hover.gif) top left;	color: #dddddd;	display: block;	text-decoration: none;	margin: 0px 0px 0px 0px;	padding: 14px 11px 22px 10px;}
#subnav1 a#selected {	color: #dddddd;}
#subnav1 li {	float: left;	margin: 0px;	padding: 0px 2px 0px 0px;	z-index: 1;	background:url(../images/top_nav_sep.gif) right top no-repeat;}
#subnav1 li li {	float: left;	margin: 0px;	padding: 0px;	width: 160px;}
#subnav1 li li a, #subnav1 li li a:link, #subnav1 li li a:visited {	background: #686b6d;	color: #dddddd;	width: 160px;	float: none;	margin: 0 0 0 0px;	padding: 7px 10px 6px 10px;	border-bottom: 1px solid #dddddd;	border-left: 1px solid #dddddd;	border-right: 1px solid #dddddd;}
#subnav1 li li a:hover, #subnav1 li li a:active {	background: #4f5458;	color: #dddddd;}
#subnav1 li ul {	position: absolute;	width: 10em;	left: -999em;}
#subnav1 li:hover ul {	left: auto;	display: block;}
#subnav1 li:hover ul, #subnav1 li.sfhover1 ul {	left: -999em;}
#subnav1 li ul ul {	margin: -2.4em 0 0 15.1em;}
#subnav1 li:hover ul ul, #subnav1 li:hover ul ul ul, #subnav1 li.sfhover1 ul ul, #subnav1 li.sfhover1 ul ul ul {	left: -999em;}
#subnav1 li:hover ul, #subnav1 li li:hover ul, #subnav1 li li li:hover ul, #subnav1 li.sfhover1 ul, #subnav1 li li.sfhover1 ul, #subnav1 li li li.sfhover1 ul {	left: auto;}
#subnav1 li:hover ul ul, #subnav1 li.sfhover2 ul ul {	left: -999em;}
#subnav1 li:hover ul, #subnav1 li li:hover ul, #subnav1 li.sfhover ul, #subnav1 li li.sfhover ul {	left: auto;}

header{height: 160px; width: 960px;}
header a#logo{display: block; width: 272px; height: 141px; background: transparent url('../img/logo.png') left top no-repeat;}

div.main{padding: 0 7px;}

/* form styles */
div.line{margin-bottom: 7px;  border-bottom: 1px solid #dadada; padding-bottom: 7px; width: 828px;}

fieldset label{float: left; margin-right: 20px;}
fieldset input[type='text']{width: 400px; float: left;}
fieldset div.right{width: 400px; float: left;}
fieldset div.right input[type='text']{margin-bottom: 7px;}
input[type='checkbox']{margin-right: 7px;}
input[type='radio']{margin-right: 7px;}
input[type='text']{border: 1px solid #cecece; padding: 3px;}

input[type='text'].error{border: 1px solid #ff0000;}
textarea{border: 1px solid #cecece; padding: 3px; width: 400px; float: left;font-family: Arial,Helvetica,sans-serif; font-size: 12px;}

label.error{color: #ff0000;}

.buttonbar{text-align: center; padding-right:38px;}

.submit {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #83be30), color-stop(1, #b8dc4e) );
  background:-moz-linear-gradient( center top, #83be30 5%, #b8dc4e 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#83be30', endColorstr='#b8dc4e');
  background-color:#83be30;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #ffffff;
  display:inline-block;
  color:#ffffff;
  font-family:arial;
  font-size:12px;
  font-weight:bold;
  padding:6px 12px;
  text-decoration:none;
  text-transform: uppercase;
}
.submit:active {
  position:relative;
  top:1px;
}

