
#mycustomscroll {
/* Typical fixed height and fixed width example */
width: 690;
height: 756px;
overflow: auto;
/* IE overflow fix, position must be relative or absolute*/
position: relative;
	text-align: left;
}

