<%@ Master Language="C#" AutoEventWireup="true" CodeFile="HotelMain.master.cs" Inherits="HotelMain" %>

<%@ Register Src="~/HotelUser/usercontrols/LeftHotelDetails.ascx" TagName="LeftHotelDetails"
    TagPrefix="uc1" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server" id="head1">
    <title>Lastminutemeetingroom</title>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <link href="../css/lmmrui1/jquery.ui.all.css" rel="stylesheet" type="text/css" />
    <link href="../css/lmmrui1/jquery-ui-1.8.17.custom.css" rel="stylesheet" type="text/css" />
    <script src="../js/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="../js/NoConflict.js" type="text/javascript"></script>
    <script src="../js/jquery-ui-1.8.17.custom.min.js" type="text/javascript"></script>
    <script src="../js/jquery.cookie.js" type="text/javascript"></script>
    <script src="../js/jquery.metadata.js" type="text/javascript"></script>
    <script src="../js/jquery.validate.js" type="text/javascript"></script>
    <script src="../js/additional-methods.js" type="text/javascript"></script>
    <script src="../js/jquery.validate.wrapper.js" type="text/javascript"></script>
    <script src="../js/jquery.dialog.wrapper.js" type="text/javascript"></script>
    <script src="../js/Common.js" type="text/javascript"></script>
    <link href="../css/style.css" rel="stylesheet" type="text/css" />
    <link href="../css/jqtransform.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../js/SpryTabbedPanels.js"></script>
    <script type="text/javascript" src="../js/jquery.jqtransform_drp.js"></script>
    <%--<script type="text/javascript" src="../js/jquery.jqtransform.js"></script>--%>
    <script type="text/javascript">

        jQuery(document).ready(function ($) {
            jQuery('.meeting-descrip-form').hide();
            jQuery('#add-meeting').click(function () {
                jQuery('.meeting-descrip-form').slideDown();
            });
            jQuery('#close-div').click(function () {
                jQuery('.meeting-descrip-form').slideUp();
            });
        });

        jQuery(function () {
            jQuery('input:checkbox').addClass('NoClassApply');
            jQuery('#adjust-meeting input:checkbox').addClass('NoClassApply');
            jQuery('#div1 input:checkbox').addClass('NoClassApply');
            jQuery('#adjust-meeting input:radio').addClass('NoClassApply');
            jQuery('#adjust-bedroom input:checkbox').addClass('NoClassApply');
            jQuery('#adjust-bedroom input:radio').addClass('NoClassApply');
            jQuery('.main_container').jqTransform({ imgPath: ' ' });
            //            jQuery('.rowElem').jqTransform({ imgPath: ' ' });
        });
        jQuery(document).ready(function () {
            jQuery("#subnav a").hover(function () {
                if (jQuery(this).attr("href") == undefined) {
                    var myofset = jQuery(this).offset();
                    //jQuery("#PopupTip").animate({ top: (myofset.top + 50) + "px", left: myofset.left + "px" });
                    //jQuery("#PopupTip").css({ top: (myofset.top + 50) + "px", left: myofset.left + "px" });
                    jQuery("#PopupTip").css("top", (myofset.top + 50) + "px");
                    jQuery("#PopupTip").css("left", myofset.left + "px");
                    jQuery("#PopupTip").show();
                }
            }, function () { jQuery("#PopupTip").hide(); });
        });
      
    </script>
    <div runat="server" >
    <script type="text/javascript" language="javascript">
        var pathAGRA = "<%=SiteRootPath %>";
        var sessionTimeout = <%=TimeoutTime %>;
        //var currentTime = new Date().getTime();
        //var unix = Math.round(+new Date()/1000);
        //var currentTime2 = new Date().getTime()/1000;
         //var unix2 = Math.round(+new Date().getTime()/1000);
         var minutesAtLoadTime = Math.round(+new Date().getTime()/60000);
        
         function CheckTimeout()
         {
            var currentMinutes;
            var difference;
            //var p = Math.round(+new Date().getTime()/1000);
             currentMinutes = Math.round(+new Date().getTime()/60000);
             difference = currentMinutes -minutesAtLoadTime;
             //alert(unix2 + ", " + p + ", " +(unix2-p));
             //alert(minutesAtLoadTime + ", " + currentMinutes + ", " +difference);
             var timeout = parseInt(sessionTimeout);
             //alert(minutesAtLoadTime + ", " + currentMinutes + ", " + difference + ", " + (timeout - difference));
             if ((timeout - difference) <= 9) {
//                 var dialogWrapper = new jQueryDialogWrapper("Information", "Your log in session has going to timeout.Do you want to renew your session.?", true, 'auto', 'auto', true, true, Refresh, null,null, SignOut);
//                dialogWrapper.show();
//                dialogWrapper.moveToTop();
                var myresult = confirm("Your log in session has going to timeout.Do you want to renew your session?");
                if(myresult == true)
                {
                    Refresh();
                }
                else{
                    SignOut();
                }
             }
         };
 
         function Refresh()
         {
                jQuery.ajax({
                         type: 'POST',
                         async: true,
                         url: '<%=SiteRootPath %>Ping.ashx',
                         success: function (data) { minutesAtLoadTime = Math.round(+new Date().getTime() / 60000); }
                    });
         };
         function SignOut() {             
             jQuery.ajax({
                 type: 'POST',
                 async: true,
                 url: '<%=SiteRootPath %>SignOut.ashx',
                 success: function (data) {                    
                 }
             });
             window.location = '<%=SiteRootPath %>Login.aspx';
         };
         //setTimeout("CheckTimeout()",60000);
         //setInterval("CheckTimeout()", 60000);
    </script>
    </div>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <style>
        .imagelogo
        {
            border: 0px none #ffffff;
        }
    </style>
    <style type="text/css">
    #PopupTip
    {
        background-color:Blue;
        width:150px;
        position:absolute;
        z-index:9999;
        top:50px;
        left:625px;
        display:none;
        border:2px solid red;
        background:url(../images/tov_nav_hover.gif) top left;	color: #fff;
        padding:7px;
        
    }
    </style>
</head>
<body>
    <form id="form1" runat="server" enctype="multipart/form-data">
    <div id="PopupTip" >This section will be available soon.</div>
    <asp:HiddenField ID="hdnSelectedLeftMenuItem" Value="0" runat="server" />
    <asp:ScriptManager runat="server" ID="scpmgr">
    </asp:ScriptManager>
    <div class="main_container">
        <!-- start top banner-->
        <!-- start left section-->
        <div class="left_container">
            <div class="main_logo">
                <img src="../images/logo.png" alt="Last Minute" /></div>
            <uc1:LeftHotelDetails ID="ucLeftHotelDetails" runat="server" />
            <%-- <div class="hotel_logo">
                    <asp:Image ID="imgHotelLogo" runat="server" CssClass="imagelogo" />
                </div>
                <div class="search">
                    <p>
                        See dashboard from other hotels:</p>
                    <!-- start drop down search -->
                    <div class="rowElem">
                        <asp:DropDownList ID="drpHotelList" runat="server" CssClass="dropdown" AutoPostBack="True"
                            OnSelectedIndexChanged="drpHotelList_SelectedIndexChanged">
                        </asp:DropDownList>
                    </div>
                    <!-- end drop down search -->
                </div>--%>
            <div class="new_left">
                <div class="leftside_inner_container" id="divLeftMenuPL" visible="false" runat="server">
                    <!-- start blue white box-->
                    <div class="blue_white_box1" id="divForPropertyLevel" runat="server">
                        <h2>
                            General info</h2>
                        <div class="content1">
                            <ul class="innerlist1">
                                <li>
                                    <asp:HyperLink ID="lnkConferenceInfo" runat="server" class="seltd"
                                        NavigateUrl="~/HotelUser/GeneralInfo.aspx">Hotel / Conference
                                        info</asp:HyperLink>
                                </li>
                                <li>
                                    <asp:HyperLink ID="lnkContactDetails" runat="server" class="seltd"  NavigateUrl='~/HotelUser/ContactDetails.aspx'>Contact details</asp:HyperLink>
                                </li>
                                <li>
                                    <asp:HyperLink ID="lnkFacilities" runat="server" class="seltd"  NavigateUrl="~/HotelUser/Facilities.aspx">Facilities</asp:HyperLink>
                                </li>
                                <li>
                                    <asp:HyperLink ID="lnkCancelationPolicy" runat="server" class="seltd"   NavigateUrl="~/HotelUser/CancellationPolicy.aspx">Cancellation Policy</asp:HyperLink>
                                </li>
                                <li class="h3">Meeting rooms</li>
                                <li>
                                    <asp:HyperLink ID="lnkDescriptionMeetingRoom" runat="server" class="seltd"  NavigateUrl="~/HotelUser/MeetingRoomDesc.aspx">Description</asp:HyperLink>
                                </li>
                                <li>
                                    <asp:HyperLink ID="lnkConfiguration" runat="server" class="seltd"  NavigateUrl="~/HotelUser/MeetingRoomConfig.aspx">Configuration</asp:HyperLink>
                                </li>
                                <li>
                                    <asp:HyperLink ID="lnkPrintFactSheet" runat="server" class="seltd" NavigateUrl="~/HotelUser/PrintfactSheet.aspx">Preview / Print fact sheet</asp:HyperLink>
                                </li>
                                <li>
                                    <asp:HyperLink ID="lnkPreviewOnWeb" runat="server" class="seltd" NavigateUrl="~/HotelUser/PreviewOnWeb.aspx"
                                        Target="_blank">Preview on web</asp:HyperLink>
                                </li>
                                <li class="h3">Bedrooms</li>
                                <li>
                                    <asp:HyperLink ID="lnkDescriptionBedRoom" runat="server" class="seltd" NavigateUrl="~/HotelUser/BedRoomDesc.aspx">Description</asp:HyperLink>
                                </li>
                                <li class="h3">Pricing</li>
                                <li>
                                    <asp:HyperLink ID="lnkMeetingRooms" runat="server" class="seltd" NavigateUrl="~/HotelUser/PricingMeetingRooms.aspx">Meeting rooms</asp:HyperLink>
                                </li>
                                <li>
                                    <asp:HyperLink ID="lnkBedrooms" runat="server" class="seltd" NavigateUrl="~/HotelUser/BedroomPricing.aspx">Bedroom</asp:HyperLink></li>
                                <li class="h3">Pictures/video</li>
                                <li>
                                    <asp:HyperLink ID="lnkPictureManagement" runat="server" class="seltd" NavigateUrl="~/HotelUser/PictureVideoManagement.aspx">Picture Management</asp:HyperLink></li>
                                <li runat="server" id="liGoOnlineLink">
                                    <asp:HyperLink ID="lnkGoOnline" runat="server" class="seltd" NavigateUrl="~/HotelUser/GoOnline.aspx">Go Online</asp:HyperLink></li>
                            </ul>
                        </div>
                    </div>
                    <!-- end blue white box-->
                </div>
                <!-- this div section will be contain all pages left menu on page load -->
                <div class="leftside_inner_container" id="divLeftMenuALL" visible="false" runat="server">
                </div>
            </div>
        </div>
        <!-- end left section-->
        <!-- start right section-->
        <div class="right_container">
            <!--Main navigation start -->
            <div class="main_nav">
                <div id="subnavbar">
                    <ul id="subnav">
                        <li class="cat-item cat-item-1">
                            <asp:LinkButton ID="lnkLastMinutMeeting" runat="server" OnClick="lnkLastMinutMeeting_Click">Last Minute Meeting</asp:LinkButton>
                        </li>
                        <li class="cat-item cat-item-1">
                            <asp:LinkButton ID="lnkPropertyLevel" runat="server" OnClick="lnkPropertyLevel_Click">Property Level</asp:LinkButton>
                        </li>
                        <li class="cat-item cat-item-366">
                            <asp:LinkButton ID="lnkAvailability" runat="server" OnClick="lnkAvailability_Click">Availability</asp:LinkButton>
                        </li>
                        <li class="cat-item cat-item-17">
                            <asp:LinkButton ID="lnkBookings" runat="server" OnClick="lnkBookings_Click">Bookings</asp:LinkButton>
                        </li>
                        <li class="cat-item cat-item-470">
                            <asp:LinkButton ID="lnkFinance" runat="server" OnClick="lnkFinance_Click">Finance</asp:LinkButton>
                        </li>
                        <li class="cat-item cat-item-247">
                            <asp:LinkButton ID="lnkStatistics" runat="server" Enabled="false"  OnClick="lnkStatistics_Click">Statistics</asp:LinkButton>
                        </li>
                        <li class="cat-item cat-item-311">
                            <asp:LinkButton ID="lnkPromotions" runat="server" OnClick="lnkPromotions_Click">Pricing / Hotel Promo</asp:LinkButton>
                        </li>
                        <li class="cat-item cat-item-313">
                            <asp:LinkButton ID="lnkRequests" runat="server" OnClick="lnkRequests_Click">Requests</asp:LinkButton>
                        </li>
                    </ul>
                </div>
            </div>
            <!--main navigation end -->
            <div class="logout-today5" id="divLogin" runat="server">
                <div class="today">
                    <span>Today:</span><asp:Label ID="lstLoginTime" runat="server"></asp:Label></div>
                <div class="logout">
                    You are logged in as: <span>
                        <asp:Label ID="lblLoginUserName" runat="server"></asp:Label></span> &bull;
                    <asp:LinkButton ID="lnklogout" runat="server" OnClick="lnklogout_Click">Log Out</asp:LinkButton></div>
            </div>
            <%--<div class="main_inner_banner">
                    <img src="../Images/banner.jpg" />
                </div>--%>
            <!-- start rightside_inner_container-->
            <div class="rightside_inner_container">
                <asp:ContentPlaceHolder ID="contentheadlabel" runat="server">
                </asp:ContentPlaceHolder>
                <asp:ContentPlaceHolder ID="contentbody" runat="server">
                </asp:ContentPlaceHolder>
            </div>
            <!-- start rightside_inner_container-->
        </div>
        <!-- end right section-->
        <!-- end top banner-->
    </div>
    </form>
    <!-- HelpOnClick -->
<script type="text/javascript" src="//traffic3.helponclick.com/assist?lang=en&amp;a=4ffaad3dfab44d52ab7f3558b86aab83&amp;mode=widget&amp;widget=l"></script><div style="display:none"><a href="http://www.helponclick.com">Live Chat</a></div>
<!-- /HelpOnClick -->

</body>
</html>
